@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  h1{
    @apply text-2xl leading-relaxed py-1 text-black;
  }
  h2{
    @apply text-xl leading-relaxed py-2 text-black;
  }
  p{
    @apply text-gray-900 leading-relaxed py-1;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #18b412;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
@media (max-width:640px) {
  h1{
    @apply text-xl py-2 ;
  } 
}